/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.container {
    max-width: 1130px;
    padding: 0 5px;
    margin: 0 auto;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1370px;
    column-gap: 10px;
    text-align: center;
}

.logo {
    display: block;
}

.navlist {
    display: flex;
}

.navitem {
    margin-right: 34px;
    border-bottom: 2px solid transparent;
}

.active {
    border-bottom: 2px solid #FFFFFF;
}

.navlink {
    color: #FFF;
    font-size: 16px;
    line-height: 1.13;
}

.navitem:last-child {
    margin: 0;
}

.burger {

    width: 47px;
    height: 31px;
    display: flex;
    align-items: center;
    position: relative;
    display: none;
}

.burger_el,
.burger_el::before,
.burger_el::after {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    height: 5px;
    border-radius: 11px;
}

.burger_el::before,
.burger_el::after {
    content: "";
    position: absolute
}

.burger_el::before {
    top: 0;
    left: 0;
}

.burger_el::after {
    bottom: 0;
    right: 0;
    width: 83%;
}

.header {
    border-bottom: 2px solid #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.location {
    display: flex;
}

.locationText {
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 2px;
    margin-right: 52px;
}

.telephone {
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.contact {
    display: flex;
}



.hero {
    height: 100vh;
    background: url(../img/background/headerbackground.png) no-repeat left top/cover;
    padding-top: 272px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.hero_main {
    flex: 1;
    padding-left: 95px;
}

.hero_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.37;

}

.hero .title {
    margin-bottom: 17px;
}

.subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #FFFFFF;
}

.hero_btns {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
}

.btn {
    background: none;
    border-radius: 4px;
    text-align: center;
    min-width: 170px;
    display: inline-block;
    padding: 12px 17px;
}

.btn_theme_white {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.sale {
    color: #ED7173;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    column-gap: 14px;
}

.advantage {
    text-align: center;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 10px;
}

.advantages {
    display: flex;
    justify-content: space-between;
}

.heroAdv {
    flex: 0 1 276px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

}

.advIconWrap {
    margin-bottom: 14px;
}

.advantagesection {
    display: flex;
    flex-direction: column;
    background: url(../img/background/carBg.jpg) no-repeat left top/cover;
    padding: 90px 160px;
    padding-top: 62px;
}

.advContainer {
    padding: 40px 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.advList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 42px;
    align-items: center;
}

.advItem {
    width: 345px;
    height: 162px;
}

.blackAdv {
    background-color: #FFFFFF;
    color: #000000;
    margin-right: 16px;
}

.blackAdv:last-child {
    margin: 0;
}

.exampleItem {
    flex: 0 1 calc((100% - 60px) / 4);
    height: 265px;
    position: relative;
    margin-right: 20px;
}

.exampleItem:last-child {
    margin-right: 0;
}

.examples {
    padding: 62px 160px;
    padding-bottom: 90px;
}

.exampleContainer {
    text-align: center;
}

.examplesImg {
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.examplesList {
    display: flex;
}

.examplesImg:nth-child(1) {
    position: absolute;
}

.exampleItem:hover .examplesImg:nth-child(1) {
    opacity: 0;
}

.footer {
    background: url(../img/background/footerBackground.jpg) no-repeat left top/cover;
    position: relative;
}

.footer::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}

.footerContainer {
    padding-top: 80px;
    z-index: 10;
    position: relative;
    padding-bottom: 90px;
}

.footerTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;

}

.feedback {
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    margin-top: 62px;
}

.fileText {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.submitFile {
    margin-top: 27px;
    min-width: 170px;
    min-height: 44px;
    background-color: #000000;
    border: 2px solid white;
    border-radius: 2px;
    color: #FFFFFF;
}

.input {
    min-width: 350px;
    min-height: 44px;
    display: block;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 4px;
    border: 0px;
}

.input:last-child {
    margin: 0;
}

.callButton {
    background-color: #00000000;
    border: 2px solid white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;

}

.map {
    width: 1440px;
    height: 220px;
    position: absolute;
    left: 0;
}

.mapImg {
    width: 100%;
    height: 100%;
}

@media (max-width: 960px) {
    .container {
        max-width: 898px;
    }

    .location {
        display: none;
    }

    .title {
        font-size: 42px;
    }

    .subtitle {
        font-size: 22px;
        margin-bottom: 70px;
    }

    .hero {
        padding-top: 210px;
    }

    .hero_main {
        padding-left: 73px;
    }
}

@media (max-width: 768px) {
    .header {
        z-index: 10;
    }

    .container {
        max-width: 722px;
    }

    .logo {
        max-width: 142px;
    }

    .burger {
        display: flex;
    }

    .navlist {
        display: none;
    }

    .header_container .contact {
        display: none;
    }

    .hero {
        padding-top: 170px;
        position: relative;
    }

    .advantage {
        font-size: 14px;
    }

    .hero::before {
        content: "";
        display: block;
        position: absolute;
        background: linear-gradient(100deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 1));
        top: 0;
        left: 0;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 300px;
    }

    .hero_main {
        padding-left: 0;
    }

    .title {
        font-size: 25px;
    }

    .subtitle {
        font-size: 14px;
        margin-bottom: 33px;
    }

    .hero_btns {
        flex-wrap: wrap;
    }

    .hero .title {
        margin-bottom: 5px;
    }

    .btn {
        padding: 8px 12px;
    }

    .btn:first-child {
        margin-bottom: 14px;
    }

    .burger {
        width: 29px;
        height: 19px;
    }

    .burger_el,
    .burger_el::before,
    .burger_el::after {
        height: 3px;
    }

    .advantages {
        flex-wrap: wrap;
    }

    .heroAdv {
        background-color: #FFFFFF;
        display: flex;
        text-align: left;
        align-items: center;
        height: 56px;
        margin-bottom: 10px;
    }

    .heroAdv .advText {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-left: 11px;
    }

    .heroAdv .advIconWrap {
        margin: 17px;
    }

    .heroAdv:last-child .advText {
        margin-left: 14px;
    }

    .heroIcon {
        fill: black;
    }
}